/vendor/
/node_modules/
/storage/logs/
/storage/framework/
/storage/app/
/builds/
*.phar
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea/
/.vscode/
